### use # to comment out the configure item

################ Status ################
mode=train
# string: train/interactive_predict

################ Datasets(Input/Output) ################
datasets_fold=data
train_file=train.json
dev_file=dev.json

delimiter=b
# string: (t: "\t";"table")|(b: "backspace";" ")|(other, e.g., '|||', ...)

vocabs_dir=data/vocabs

log_dir=data/logs

checkpoints_dir=checkpoints/

################ Model Configuration ################

hidden_dim=200

max_sequence_length=128
# int, cautions! set as a LARGE number as possible,
# this will be kept during training and inferring, text having length larger than this will be truncated.

CUDA_VISIBLE_DEVICES=0
# coincides with tf.CUDA_VISIBLE_DEVICES

seed=42

################ Training Settings ###
epoch=300
batch_size=32

dropout=0.5
learning_rate=0.001

checkpoints_max_to_keep=3
print_per_batch=20

is_early_stop=True
patient=5
# unnecessary if is_early_stop=False

checkpoint_name=model
